<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle/battle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>battle/battle_field1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{400,105}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{400,105}}</string>
                <key>sourceSize</key>
                <string>{400,111}</string>
            </dict>
            <key>battle/dialog_indice.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>battle/empty_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,971},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>battle/exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,12},{160,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,10}}</string>
                <key>sourceSize</key>
                <string>{160,10}</string>
            </dict>
            <key>battle/exp_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{126,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,4}}</string>
                <key>sourceSize</key>
                <string>{126,4}</string>
            </dict>
            <key>battle/half_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{350,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,58}}</string>
                <key>sourceSize</key>
                <string>{350,58}</string>
            </dict>
            <key>battle/pokemon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82fd1b3abd55ddc2cb310ab02fa9211:1/1$</string>
            <key>textureFileName</key>
            <string>battle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
